
<!-- Registro -->

<!DOCTYPE html>
<html>

<head>
	<title>Registro</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="../css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="../css/cityestilo.css">
	<script src="../js/lib/jquery.js"></script>
	<script src="../js/lib/jquery-3.3.1.min.js"></script>
	<script src="../js/main.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css"
	/>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
	 crossorigin="anonymous">
</head>

<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="logo-citya">
			<a href="#">
				<img src="../img/city-affinity-logo.svg">
			</a>
		</div>
	</nav>

	<!-- Formulario -->


	<a href="#popup" class="popup-link">
		<i class="fas fa-user-plus fa-5x iconoreg"></i>
	</a>

	<div id="foto">
		<img src="../img/cityaffinity-vosotros-fondo.jpg" class="img-fluid">
	</div>


	<!-- Pop Up -->
	<div class="modal-wrapper" id="popup">
		<div class="popup-contenedor">

			<div id="formulario">
				<form id="insert" enctype="multipart/form-data">

					<div class=" form-group col-md-8" style="height: 82px; margin-bottom: 0px;">
						<label for="nombre"></label>
						<input name="nombre" type="text" class="form-control" id="nombreUsuario" data-validation="required alphanumeric" placeholder="Nombre">
						<br/>
					</div>

					<div class="form-group col-md-8" style="height: 82px; margin-bottom: 0px;">
						<label for="email"></label>
						<input name="email" type="text" id="emailUsuario" class="form-control" data-validation="required email" placeholder="Email">
						<br/>
					</div>

					<div class="form-group col-md-8" style="height: 82px; margin-bottom: 0px;">
						<label for="nacionalidad"></label>
						<input name="nacionalidad" type="text" id="nacionalidadlUsuario" class="form-control" data-validation="required alphanumeric"
						 placeholder="Nacionalidad">
						<br/>
					</div>


					<div class="form-group col-md-8" style="height: 82px; margin-bottom: 0px;">
						<label for="password"></label>
						<input type="password" class="form-control" data-validation="length" data-validation-length="min3" placeholder="Contraseña"
						 name="password_confirmation">
					</div>

					<div class="form-group col-md-8" style="height: 82px; margin-bottom: 30px;">
						<label for="confirm_password"></label>
						<input type="password" class="form-control" data-validation="confirmation" placeholder="Repetir Contraseña" name="password">
					</div>


					<button type="submit" class="btn btn-secondary" id="enviarInsert">Registrarse</button>
											
				</form>
			</div>

			<a class="popup-cerrar" href="#">X</a>
		</div>
	</div>


</body>


</body>

</html>