<!DOCTYPE html>
<html>
	<head>
		<title>Nuestra Filosofía</title>
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="../css/cityestilo.css">
	</head>

	<body>
		
		<div>	
			<div class="logo-citya">
				<a href="../index.html">
						<img src="../img/city-affinity-logo.svg">
					</a>
			</div>

			<div id="nav">
					<ul>
						<li><a href="../index.html"><b>Inicio | </b></a></li>
						<li><a href="index.html"><b>Nuestra filosofía | </b></a></li>
						<li><a href="../vosotros/index.html"><b>Vosotros | </b></a></li>
						<li><a href="../ciudades/index.html"><b>Ciudades | </b></a></li>
						<li><a href="../contacto/index.html"><b>Contacto</b></a></li>
					</ul>
				</div>	
			</div>
		
			<div class="txtpp-inicio">
					<img src="../img/cityaffinity-nuestra-filosofia.jpg" alt="Cuéntanos tu experiencia" width="100%" id="imgb-inicio">

					<h1>Nuestra filosofía de vida</i></h1>
		
			<p>	Desde <i>City Affinity</i> pensamos que la mejor manera de contar algo es desde la experiencia. Es por eso que nuestro objetivo es crear la mayor base de ciudades del mundo en la que tú participes y entre todos la hagamos crecer. Experiencias reales, personales, profesionales, de primera mano, agradables o no, 
				solo queremos la realidad para prepararnos lo mejor posible y dedicarnos solo a disfrutar de nuestra experiencia en el nuevo destino.</p>
			
			</div>

		<footer>
			<div class="pie-amarillo">
			
			<table cellspacing="10" cellpadding="10" width="100%" align="center">
				<tr>
					<td>
						<h4>City Affinity 2018. Todos los derechos reservados.</h4>
					</td>
					
					
					<td align="right">
						
						<a href="https://es-es.facebook.com/" target="_blank"><img src="../img/facebook-logo.svg" width="5%"></a>
						<a href="https://www.instagram.com/?hl=es" target="_blank"><img src="../img/logo-de-instagram.svg" width="5%"></a>
						<a href="https://www.youtube.com/?hl=es&gl=ES" target="_blank"><img src="../img/youtube.svg" width="5%"></a>
					
					
						</td>

					</tr>
				</div>

			</table>

		</footer>



	</body>

</html>